.viewing {
  &-text {
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    line-height: 49.03px;
    text-align: left;
    text-transform: uppercase;
    text-decoration-skip-ink: none;
    color: #227da5;
  }
}

@media (max-width: 1200px) {
  .viewing {
    &-text {
      font-family: Open Sans;
      font-weight: 700;
      font-size: 28px;
      line-height: 38.13px;
      letter-spacing: 0%;
    }
  }
}

@media (max-width: 430px) {
  .viewing {
    &-text {
      font-family: Open Sans;
      font-weight: 700;
      font-size: 20px;
      line-height: 27.24px;
      letter-spacing: 0%;
    }
  }
}
