body.menu-open {
  overflow: hidden;
}
.burger-menu {
  position: relative;
  display: none !important;

  #menu__toggle {
    opacity: 0;
    position: absolute;

    &:checked+.menu__btn span {
      transform: rotate(45deg);

      &::before {
        top: 0;
        transform: rotate(0);
      }

      &::after {
        top: 0;
        transform: rotate(90deg);
      }
    }

    &:checked~.menu__box {
      visibility: visible;
      left: 0;
    }
  }

  .menu__btn {
    display: flex;
    align-items: center;

    width: 26px;
    height: 26px;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #fff;
      border-radius: 10px;
      transition: transform 0.25s ease;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 10px;
        transition: transform 0.25s ease, top 0.25s ease;
      }

      &::before {
        top: -8px;
      }

      &::after {
        top: 8px;
      }
    }
  }

  .menu__box {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100vh;
    padding: 80px 20px;
    background-color: #227DA5;
    transition: left 0.3s ease;
    z-index: 1;

    &.open {
      visibility: visible;
      left: 0;
    }



  }
}

